<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmManager"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Feeds"
            android:label="@string/title_activity_feeds"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".Inventory"
            android:label="@string/title_activity_inventory"
            android:theme="@style/Theme.FarmManager.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6422900133345054~1726445480" />

        <activity
            android:name=".UpdateEmployee"
            android:label="@string/title_activity_update_employee"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_update_employee"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".AddEmployee"
            android:label="@string/title_activity_add_employee"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".Employees"
            android:label="@string/title_activity_employees"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity android:name=".Web" />
        <activity
            android:name=".News"
            android:label="@string/title_activity_news"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".UpdateLivestock"
            android:label="@string/title_activity_update_livestock"
            android:theme="@style/Theme.FarmManager.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CropsActivity" />
        </activity>
        <activity
            android:name=".UpdateCrop"
            android:label="@string/title_activity_update_crop_avtivity"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".Transactions"
            android:label="@string/title_activity_transactions"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".LivestockActivity"
            android:label="@string/title_activity_livestock"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".CropsActivity"
            android:label="@string/title_activity_crops"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".Salary"
            android:label="@string/title_activity_salary"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".BillsActivity"
            android:label="@string/title_activity_bills"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".RecordPurchasesActivity"
            android:label="@string/title_activity_record_purchases"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".Revenue"
            android:label="@string/title_activity_revenue"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
        <activity
            android:name=".AddCrop"
            android:parentActivityName=".LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CropsActivity" />
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:label="@string/title_activity_launcher">
        </activity>
        <activity
            android:name=".RecordSalesActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FarmManager.NoActionBar" />
    </application>

</manifest>